<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Air Quality Index Predictor</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <style>
    .btn-group-lg>.btn, .btn-lg {
      border-radius: 9rem;
    }
    </style
  </head>

    <section id="title">
    <div class="container-fluid" style="background-color:#695dbd; padding: 50px">
    <center>
      <h1 style="font-family: 'Montserrat', sans-serif;
      font-size: 2.5rem;
      line-height: 1.5;
      font-weight: 700; color: white">Air Quality Index Prediction</h1></center>
    </div>
  </section>
  <form action="{{ url_for('predict')}}" method="POST">
    <center>
    <br><br><br><br>
      <h3>Please click the button below to view the air quality data for next 10 days</h3>
      <button style="font-size:20px;margin-top: 20px; width: 40%; padding: 35px 30px" type="submit" class="btn btn-dark btn-lg download-button"><b> Launch </b></button>
    </center>
  </form><br><br><br><br>
  <div class="container-fluid">
  <p><b>Members: -</b></p>
  <p><ol><li>V Vishnu Vardhan (18AG1A05H8)</li><li>G Giridhar (18AG1A05E1)</li><li>B Mohan Krishna (18AG1A05C8)</li></ol></p>
    <p><b>Idea: -</b></p>
    <p>In this project, we have made a web application that predicts the air quality index of the city
    by the use of prediction algorithm (Random Forest) and will also provide the user recommendation accordingly about the index i.e. whether it is safe or not.</p>
    <p><b>Working: -</b></p>
    <p>In this project we have used web scraping to scpare the data from a climate website (en.tutiempo.net) and then have done the preprocessing
    of the dataset and have combined the data into a single csv file. Then we have implemented various Machine Learning models like Linear Regression,
    Lasso and Ridge Resressor, Decision Tree Regressor, Random Forest Regressor, XGboost Regrssor and Artificial Neural Networks. Among all these algorithms
    the accuracy of Random Forest was the best i.e. about 80%. So we have used Random Forest to predict the air quaity index for the next 10 days.
    For application development we have used Flask. We have integrated our model with the use of Jinja2 with flask.</p>
    <p><b>Tools and Technology Used: -</b></p>
    <p><ol><li> Web Scraping</li><li> Machine Learning</li><li>Flask</li><li>Python</li><li>Jinja2</li></ol></p>
    <p><b>Future Scope: -</b></p>
    <p><ol><li>We will try to include more cities.</li><li>We will try to make it more interactive.</li><li>We will deploy our project on cloud.</li>
      <li>We will improve our dataset by including various attributes and from that will also provide the proportion of various gases in atmosphere.</li>
      <li>We will try to raise awareness to save the environment by promoting environment friendly practices.</li></ol>
  </div>
  </body>
</html>
